
@import 'fonts';
@import 'hamburger';
@import 'search';
@import 'defaut';



header {
    background-image:url(content/images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}





.main-nav {

    display: flex;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: #00d8fF; opacity:100%;
    align-items: flex-end;
    justify-content: flex-end;
}

.menu-nav {
    position: fixed;
    z-index: 10000;
}


.main-nav-list {
    font-family: 'Montserrat';
    font-weight: 700;
    color: #284e68;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
}




.logo-principal img {
    width: 200px;
    height: 150px;
    display: block;
    overflow: hidden;
    margin: 0px;
    position: relative;
}


ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.main-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}


.main-description .calltoaction {
    font-family: 'Montserrat';
    font-weight: 800;
    color: white;
    padding: 0px;
    border-radius: 50px;
    background-color: #00D8FF;
    text-align: center;
}

.read-more{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;

}

.lieu {
    font-family: 'Museo';
    font-weight: 500;
    color: #00d8ff;
}

strong{
    font-family: 'Montserrat';
    font-weight: 800;
    color: #737B80;
}

h2 > .date{ // AUGUST 
    font-family: 'MavenPro';
    font-weight: 500;
    color: #00D8FF;
}

h2 > .date > strong {
    font-family: 'Montserrat';
    font-weight: 800;
    color: #00D8FF;
}

h2 {
    font-family: 'Montserrat';
    font-weight: 800;
    color: #00D8FF;
}

h3 {
    font-family: 'Montserrat';
    font-weight: 500;
    color: #00D8FF;
}

h4 {
    font-family: 'Montserrat';
    font-weight: 800;
    color: #EBE3A6;
}


strong {
    font-family: 'Montserrat';
    font-weight: 800;
    color: #737B80;
}




.header-txt {
    display: none;
}



img {
    max-width: 411px;
}


.ActivityDescription {
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 300;
    color: rgb(216, 216, 216);
}